<%!- filter replace(" + template-test", "")
  | regex_replace('(?m)^core/\n  create-mono-stack/.*\n', "")
  | regex_replace('(?m)^.*create-mono-stack.*\n', "") -!%>
<%!- include "AGENTS.md" -!%>
<%!- endfilter -!%>
